@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar {
    display: flex;
    background: #0030ff;
    justify-content: space-between;
    color: white;
    padding: 8px 20px;
    align-items: center;
    box-shadow: 0 1px 5px 0 rgb(21 24 26 / 74%);
}

.navbar-right-container {
    display: flex;
    width: 230px;
    justify-content: space-around;
    align-items: center;
}

.navbar-userinfo {
    display: flex;
    align-items: center;
}

.userinfo-container {
    font-size: 12px;
    margin-left: 15px;
}

.icons-cm {
    background: #CFDDF4;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 10px #6e6e6e;
}